* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dogica;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #414141;
    overflow: hidden;
}


.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 75px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    background: #333333;
    box-shadow: 0 10px 0 #1d1d1d;
}

.header h1 {
    font-size: 20px;
    margin-left: 100px;
    background: #1d1d1d;
}


.header .input-group {
    width: 50vh;
    height: 60px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    background-color: #1d1d1d;
    padding: 8px 32px 8px 8px;
    gap: 20px;
}

.input-group input {
    color: #fff;
}

input::placeholder {
    color: #fff;
    font-size: 12px;
}

.input-field {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    
}

.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 15px;
}

.navbar a {
    font-size: 0.8em;
    color: #fff;
    margin-right: 800px;
    background: #1d1d1d;
    
}

.footer {
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border: 2px solid #1d1d1d;
    background: #333333;
}

#music-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #333333;
    border: 3px solid #1d1d1d;
    box-shadow: 0 10px 0 #1d1d1d;    
}

#song-image {
    height: 350px;
    width: 350px;
    box-shadow: 0 14px 0 #1d1d1d;
}

#song-name {
    margin-top: 40px;
    font-size: 1.0em;
}

#song-artist {
    color: #b0b0b0;
    margin-top: 10px;
    font-size: 0.7em;
}

#music-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#music-buttons i {
    padding: 10px;
    color: #fff;
}

#slider-song {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    width: 300px;
    height: 10px;
    margin-top: 20px;
    background: #555;
}

#slider-song::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    cursor: pointer;
    width: 15px;
    height: 15px;
}