* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dogica;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #414141;
}

.navbar a {
    color: #fff;
}

.wrapper {
    width: 500px;
    background: #5d5d5d;
    border: 4px solid #1d1d1d;
    color: #fff;
    margin-top: 100px;
    padding: 30px 40px;
    box-shadow: 0px 10px 0px #1d1d1d;
}

.wrapper h2 {
    font-size: 20px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    border: none;
    outline: none;
    border: 2px solid #cacaca;
    font-size: 14px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 10px 0px #1d1d1d;
    cursor: pointer;
    font-size: 14px;
    color: #414141;
}

.wrapper .register-link {
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


.header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 75px;
    color: #fff;
    align-items: center;
    background: #333333;
    box-shadow: 0 10px 0 #1d1d1d;
}

.header h1 {
    font-size: 20px;
    margin-left: 100px;
    background: #1d1d1d;
}

.footer {
    position: absolute;
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border: 2px solid #1d1d1d;
    background: #333333;
}